:root {
  --color-body: #434455;
  --brand-color: #ffffff;
  --color-logo: #4d5ae5;
  --color-text: #2e2f42;
  --color-contacts: #434455;
  --color-btn: #f4f4fd;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--brand-color);
  color: var(--color-body);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.item {
  list-style: none;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */

header {
  border-bottom: 1px solid #e7e9fc;
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
}

/* logo */
.logo-header {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-logo);
  padding: 24px 0;
  margin-right: 76px;
}

.logo-tip {
  color: var(--color-text);
}

/* navigation */

.list-nav .link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.list-nav {
  display: flex;
  gap: 40px;
  transition: color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-nav .link {
  display: block;
  color: var(--color-text);
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-nav .active-link {
  color: #404bbf;
}

.active-link::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  display: block;
  position: absolute;
  bottom: -1px;
  border-radius: 2px;
}

/* address */

.address-list {
  display: flex;
  gap: 0 40px;
}

.list-nav .link:hover,
.list-nav .link:focus {
  color: #404bbf;
}

.address-list .link:hover,
.address-list .link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
  margin-left: auto;
}

.address-contact {
  padding-top: 24px;
  padding-bottom: 24px;
}

.address-list .link {
  display: block;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-contacts);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* first section */

.section-main {
  max-width: 1400px;
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office\ 1.jpg);
  background-size: cover;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-text);
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
}

.section-main .title {
  font-weight: 700;
  font-size: 56px;
  font-family: "Roboto", sans-serif;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--brand-color);
  margin-bottom: 48px;
  width: 496px;
  margin-left: auto;
  margin-right: auto;
}
.button-order {
  background-color: var(--color-logo);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--brand-color);
  cursor: pointer;

  padding: 16px 32px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-order:hover,
.button-order:focus {
  background-color: #404bbf;
}

/* second section */

.qualities-section {
  padding-top: 120px;
  padding-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
}

.list-qualities {
  display: flex;
  justify-content: center;
  column-gap: 24px;
}

.qualities-item {
  color: var(--color-text);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  flex-basis: calc((100% - 72px) / 4);
}

.qualities-picture {
  height: 119px;
  margin-bottom: 8px;
  background-color: #f4f4fd;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qualities-item .qualities-title {
  letter-spacing: 0.02em;
  color: var(--color-text);
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.qualities-item .qualities-text {
  line-height: 1.5;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  max-width: 264px;
  letter-spacing: 0.02em;
  color: var(--color-body);
}

/* third section */

.activities {
  padding-bottom: 120px;
}

.activities .title-activities {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-text);
  margin-bottom: 72px;
}

.list-activities {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
}

/* fourth section */

.team-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  padding: 0;
}

.section-team {
  background-color: #f4f4fd;
  padding-bottom: 120px;
  padding-top: 120px;
}
.section-team .title-team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-text);
  margin-bottom: 72px;
}

.team-member {
  background-color: #ffffff;
  padding-bottom: 32px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-member .team-member-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-text);
  margin-top: 32px;
  text-align: center;
}
.team-member .team-member-profession {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-contacts);
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: center;
}

.social-network-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-network-item {
  width: 40px;
  height: 40px;
}

.social-network-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network-link:hover {
  background: #404bbf;
}

.social-network-link:focus {
  background: #404bbf;
}

.social-network-icon {
  fill: #f4f4fd;
}

/* section customers */

.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.title-customers {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-text);
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.customers-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customers-icon {
  fill: #8e8f99;
  display: block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  padding: 16px 32px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover {
  border-color: #404bbf;
}

.customers-link:focus {
  border-color: #404bbf;
}

.customers-link:hover .customers-icon {
  fill: #404bbf;
}

.customers-link:focus .customers-icon {
  fill: #404bbf;
}

/* footer */

.footer-container {
  display: flex;
  justify-content: left;
  align-items: baseline;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  margin-right: 120px;
}

.footer {
  background-color: var(--color-text);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-text {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  margin-top: 16px;
  color: var(--color-btn);
}

.logo-footer {
  color: #f4f4fd;
}

.logo-mfooter {
  max-width: 44px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.title-footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  margin-right: auto;
}

.footer-list {
  display: flex;
  justify-content: left;
  gap: 16px;
}

.footer-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover {
  background: #31d0aa;
}

.footer-link:focus {
  background: #31d0aa;
}

.soc-net-footer {
  margin-right: 80px;
}

.footer-item {
  width: 40px;
  height: 40px;
}

.footer-icon {
  fill: #f4f4fd;
}

.subscribe-form {
  display: flex;
  align-items: center;
}

.subscribe-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.subscribe-email {
  background-color: transparent;
  width: 264px;
  height: 40px;
  padding-left: 16px;
  color: #ffffff;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.04em;
}

.subscribe-button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  border-radius: 4px;
  padding: 8px 24px;
  border: none;
  box-shadow: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #404bbf;
}

.email-icon-subscribe {
  margin-left: 16px;
}

.subscribe-email::placeholder {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.04em;
}

/* portfolio */

.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.button-filt {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-filt:hover,
.button-filt:focus {
  background-color: #404bbf;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-color: transparent;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.picture-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.picture-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.title-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--color-text);
}

.portfolio-text-filter {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-body);
}

.list-filters {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.button-filt {
  padding: 12px 24px;
}

.list-portfolio {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-description {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 0;
  padding-left: 16px;
}

.thumb {
  position: relative;
  overflow: hidden;
}

.text-card {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  padding: 40px 32px 0 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.picture-link:hover .text-card,
.picture-link:focus .text-card {
  transform: translateY(0);
}

/* modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 408px;
  min-height: 576px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding-top: 72px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-picture {
  width: 24px;
  height: 24px;
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  fill: #ffffff;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;

  margin-bottom: 16px;

  text-align: center;
  letter-spacing: 0.02em;

  color: #2e2f42;
}

.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  /* margin-bottom: 8px; */
  padding-left: 38px;
  outline: transparent;
}

.modal-input-comment {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
}

.modal-input-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-input:focus {
  border: 1px solid #4d5ae5;
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-span {
  display: flex;
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-label:not(:first-child) {
  margin-top: 8px;
}

.modal-icon {
  position: absolute;
  top: 8px;
  left: 16px;
  fill: #2e2f42;
}

.modal-form-field.policy {
  margin-top: 16px;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
}
.modal-form-check {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.modal-form-check + span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  cursor: pointer;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-check-icon {
  display: inline-block;
  width: 10px;
  height: 8px;
}
.modal-form-check:checked + span {
  border: none;
  background-color: #404bbf;
  fill: #f4f4fd;
}

.send-button {
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-button:hover,
.send-button:focus {
  background-color: #404bbf;
}
